* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
      font-size: 14px; /* Tamanho menor para tablets */
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px; /* Tamanho menor para celulares */
    }
  }