* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e2dd;
  width: 100%;
  max-width: 1440px; /* Posso mexer aqui para arrumar a largura da página */
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
  color: #FFF;
}